apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: amq-broker-secret-files
  app: {{ ar_osc_amqbroker_name }}
metadata:
  annotations:
    description: Secret containing secret AMQ Broker files
    iconClass: icon-amq
    openshift.io/display-name: AMQ Broker Password
  labels:
    app: {{ ar_osc_amqbroker_name }}
  name: {{ ar_osc_amqbroker_name }}-secret-files-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_amqbroker_name }}-broker-secret-files
    namespace: {{ ar_osc_amqbroker_ns }}
    labels:
      app: {{ ar_osc_amqbroker_name }}
  type: Opaque
  data:
    login.config: {{ lookup('file', 'login.config') | b64encode }}
    jgroups-ping.xml: {{ lookup('file', 'jgroups-ping.xml') | b64encode }}
    artemis-users.properties: {{ lookup('file', _ar_osc_amqbroker_config_dest_templates + '/artemis-users.properties') | b64encode }}
    artemis-roles.properties: {{ lookup('file', _ar_osc_amqbroker_config_dest_templates + '/artemis-roles.properties') | b64encode }}
