apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: {{ ar_osc_amqbroker_instance | secrets_name }}
  app: {{ ar_osc_amqbroker_name }}
metadata:
  annotations:
    description: Secret containing AMQ Broker Password
    iconClass: icon-amq
    openshift.io/display-name: AMQ Broker Password
  labels:
    app: {{ ar_osc_amqbroker_name }}
  name: {{ ar_osc_amqbroker_name }}-secrets-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_amqbroker_instance | secrets_name }}
    namespace: {{ ar_osc_amqbroker_ns }}
    labels:
      app: {{ ar_osc_amqbroker_name }}
  type: Opaque
  data:
{% for broker_user in ar_osc_amqbroker_user_roles %}
    {{ broker_user.name }}: "{{ secrets[ar_osc_amqbroker_name][broker_user.name] | b64encode }}"
{% endfor %}
