{% if ar_osc_amqbroker_user_roles | json_query("[?role=='admin'].name") | length > 0 %}
admin={{ ar_osc_amqbroker_admin_username }},{{ ar_osc_amqbroker_user_roles | json_query("[?role=='admin'].name") | join(',') }}
{% else %}
admin={{ ar_osc_amqbroker_admin_username }}
{% endif %}
user={{ ar_osc_amqbroker_user_roles | json_query("[?role=='user'].name") | join(',') }}
viewer={{ ar_osc_amqbroker_user_roles | json_query("[?role=='viewer'].name") | join(',') }}
