{{ ar_osc_amqbroker_admin_username }}={{ ar_osc_amqbroker_admin_password }}
{% for broker_user in ar_osc_amqbroker_user_roles %}
{{ broker_user.name }}={{ secrets[ar_osc_amqbroker_name][broker_user.name] }}
{% endfor %}
